:root{
    --fuente-primaria: 'Manrope', sans-serif;
    --fuente-blanca: #fff;
    --fondo-celeste: #f2fafa;
    --fuente-negra: #000
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

html, body{
    height: 100%;
    font-family: var(--fuente-primaria);
} 

.blanco{
    color: var(--fuente-blanca) !important;
}

/* Dashboard */

    .dashboard{
        padding: 1rem 2rem 0 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;  
    }

    /* .dashboard p{
        color: var(--fuente-negra)
    } */
    .dashboardFila{
        padding: 1rem 2rem 1rem 2rem;
        display: grid;
        grid-template-columns: 1.8fr 1fr;
        gap: 10px;  
    }
    
    .grafic-general{
        height: 15rem;
        /* width: 90%; */
        border: 1px solid #cfd2d6;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }

    /* Grafico de Barras */
    .borderRadius{
        border-radius: 0.6rem 0.6rem 0 0;
        
    }
    
    .barras,
    .barras-Leyenda{
        height: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: flex-end;
        gap: 10px;
    }

    .barrasHijo{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
    }

    .barrasHijo p{
        padding: 0;
    }

    .barras-Leyenda{
        height: 10%;
        text-align: center;
    }

    .barra1{
        height: 20%;
    }

    .barra2{
        height: 75%;
    }

    .barra3{
        height: 20%;
    }

    .barra4{
        height: 90%;
    }
    .color-Barra1{
        background-color: rgb(228, 152, 152);
    }

    .color-Barra2{
        background-color: rgba(214, 164, 89, 0.699);
    }
    .color-Barra3{
        background-color: rgb(5, 64, 131);
    }
    .color-Barra4{
        background-color: rgba(224, 58, 216, 0.486);
    }
    .leyenda{
        /* width: 80%; */
        padding-left: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .leyenda div{
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }

    .letra-Leyenda{
        width: 100%;
        font-weight: 500;
        font-size: 0.8rem;
        margin: 0 !important;
        /* padding-left: 0.5rem; */
        color: rgb(150, 141, 141);
    }

    .leyenda-general{
        height: 25px;
        width: 25px;
        border-radius: 0.3rem; 
        text-align: center;
    }

    .paddingLeft{
        padding-left: 0.5rem;
    }
